.formTitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.formBody {
  width: 100%;
}

.inputContainer {
  width: 100%;
  margin-bottom: 25px;
}

.inputContainerDate {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 8%;
  align-items: center;
}

.inputLabel {
  margin-bottom: 0.2rem;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #808080;
}

.input {
  display: block;
  height: 40px;
  width: 65%;
  border: 1px solid #4A4A4A;
  border-radius: 5px;
}


.inputDate {
  composes: input;
  width: 100%;;
}

.inputCvc {
  composes: input;
  width: 100%;;
}