.progressContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #E6E6EB;
}

:global(button) {
  -webkit-appearance: none;
}

.btnGroup {
  width: auto;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextBtn {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: 8px;
  background-color: #F67599;
}

.cursorPoint {
  margin-left: 8%;
}