.progressContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #E6E6EB;
}

:global(button) {
  -webkit-appearance: none;
  border-color: transparent;
}

.btnGroupFirst {
  width: auto;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnGroupSecond {
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnGroupThird {
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prevBtn {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.nextBtn {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #F67599;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.cursorPointRight {
  margin-left: 8%;
  cursor: pointer;
}

.cursorPointLeft {
  margin-right: 8%;
  cursor: pointer;
}